*{
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}
.container{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:280px;
        height:500px;
        box-shadow:0 2px 4px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);
        border-radius:20px;
        overflow:hidden;
        display:flex;
        align-item:center;
        justify-content:center;
        font-size:.8rem;
        color:#26242e;
        background:#F6F8FB;
}
.inputs{
        width:250px;
        height:470px;
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
}
.input-field{
        border:none;
        width:250px;
        height:45px;
        border:1px solid #dbdbdb;
        border-radius:4px;
        padding-left:.7rem;
        outline:none;
}
::placeholder{
        color:#bfbfbf;
}
.radio-btn{
        width:100%;
        height:15px;
        display:flex;
}
.radio-btn input{
        display:none;
}
.radio-btn label{
        position:relative;
        display:flex;
        width:100px:
        height:45px:
        align-item:center;
        justify-content:space-evenly;
        background:#fff;
        margin-right:.3rem;
}
.mark{
        position:relative;
        display:block;
        width:15px;
        height:15px;
        border:2px solid #bfbfbf;
        border-radius:50%;
        transition:.3s;
}
.mark::before{
        content:"";
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:13px;
        height:13px;
        background:#1294FC;
        border-radius:50%;
        opacity:0;
        transition:.3s;
}

.btn-button{
       position:absolute;
       top:0;
       left:0;
       width:100px;
       height:45px;
       border:1px solid #dbdbdb;
       border-radius:4px;
}
input[type="radio"]:checked ~ .mark{
        border-color:#1294FC;
}
input[type="radio"]:checked ~ .btn-border{
        border-color:#1294FC;
}
input[type="radio"]:checked ~ .mark::before{
        opacity:1;
}
.text{
        display:flex;
        align-item:center;
}
.btn button{
        width:250px;
        height:30px;
        border-radius:4px;
        border:none;
        outline:none;
        background:#1294FC;
        color:#fff;
}
